<h2>Methods run, sorted chronologically</h2><h3>&gt;&gt; means before, &lt;&lt; means after</h3><p/><br/><em>My Selenium Grid</em><p/><small><i>(Hover the method name to see the test class name)</i></small><p/>
<table border="1">
<tr><th>Time</th><th>Delta (ms)</th><th>Suite<br>configuration</th><th>Test<br>configuration</th><th>Class<br>configuration</th><th>Groups<br>configuration</th><th>Method<br>configuration</th><th>Test<br>method</th><th>Thread</th><th>Instances</th></tr>
<tr bgcolor="b3b3e6">  <td>18/05/31 20:06:14</td>   <td>0</td> <td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;FirefoxTestManager.setupTest(java.lang.String)[pri:0, instance:com.peterwkc.TestManager.FirefoxTestManager@42f93a98]">&gt;&gt;setupTest</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>TestNG-test=Firefox Test-1@1654638001</td>   <td></td> </tr>
<tr bgcolor="f8bee4">  <td>18/05/31 20:06:14</td>   <td>0</td> <td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;ChromeTestManager.setupTest(java.lang.String)[pri:0, instance:com.peterwkc.TestManager.ChromeTestManager@1877ab81]">&gt;&gt;setupTest</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>TestNG-test=Chrome Test-1@1475660251</td>   <td></td> </tr>
<tr bgcolor="b3b3e6">  <td>18/05/31 20:07:22</td>   <td>68400</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="FirefoxTestManager.YANDEX1()[pri:0, instance:com.peterwkc.TestManager.FirefoxTestManager@42f93a98]">YANDEX1</td> 
  <td>TestNG-test=Firefox Test-1@1654638001</td>   <td></td> </tr>
<tr bgcolor="b3b3e6">  <td>18/05/31 20:07:22</td>   <td>68400</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="FirefoxTestManager.YANDEX()[pri:0, instance:com.peterwkc.TestManager.FirefoxTestManager@42f93a98]">YANDEX</td> 
  <td>TestNG-test=Firefox Test-2@1771642159</td>   <td></td> </tr>
<tr bgcolor="f8bee4">  <td>18/05/31 20:07:22</td>   <td>68400</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="ChromeTestManager.GOOGLE2()[pri:0, instance:com.peterwkc.TestManager.ChromeTestManager@1877ab81]">GOOGLE2</td> 
  <td>TestNG-test=Chrome Test-2@789042536</td>   <td></td> </tr>
<tr bgcolor="f8bee4">  <td>18/05/31 20:07:22</td>   <td>68400</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="ChromeTestManager.GOOGLE1()[pri:0, instance:com.peterwkc.TestManager.ChromeTestManager@1877ab81]">GOOGLE1</td> 
  <td>TestNG-test=Chrome Test-1@1475660251</td>   <td></td> </tr>
<tr bgcolor="f8bee4">  <td>18/05/31 20:07:22</td>   <td>68501</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="ChromeTestManager.GOOGLE3()[pri:0, instance:com.peterwkc.TestManager.ChromeTestManager@1877ab81]">GOOGLE3</td> 
  <td>TestNG-test=Chrome Test-2@789042536</td>   <td></td> </tr>
<tr bgcolor="f8bee4">  <td>18/05/31 20:07:22</td>   <td>68504</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="ChromeTestManager.GOOGLE4()[pri:0, instance:com.peterwkc.TestManager.ChromeTestManager@1877ab81]">GOOGLE4</td> 
  <td>TestNG-test=Chrome Test-2@789042536</td>   <td></td> </tr>
<tr bgcolor="b3b3e6">  <td>18/05/31 20:07:46</td>   <td>92151</td> <td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;FirefoxTestManager.tearDown()[pri:0, instance:com.peterwkc.TestManager.FirefoxTestManager@42f93a98]">&lt;&lt;tearDown</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>TestNG-test=Firefox Test-1@1654638001</td>   <td></td> </tr>
<tr bgcolor="f8bee4">  <td>18/05/31 20:07:46</td>   <td>92154</td> <td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;ChromeTestManager.tearDown()[pri:0, instance:com.peterwkc.TestManager.ChromeTestManager@1877ab81]">&lt;&lt;tearDown</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>TestNG-test=Chrome Test-1@1475660251</td>   <td></td> </tr>
</table>
