<table border='1'>
<tr>
<th>Class name</th>
<th>Method name</th>
<th>Groups</th>
</tr><tr>
<td>com.peterwkc.TestManager.FirefoxTestManager</td>
<td>&nbsp;</td><td>&nbsp;</td></tr>
<tr>
<td align='center' colspan='3'>@Test</td>
</tr>
<tr>
<td>&nbsp;</td>
<td>YANDEX</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>GOOGLE1</td>
<td>&nbsp;</td></tr>
<tr>
<td align='center' colspan='3'>@BeforeClass</td>
</tr>
<tr>
<td align='center' colspan='3'>@BeforeMethod</td>
</tr>
<tr>
<td align='center' colspan='3'>@AfterMethod</td>
</tr>
<tr>
<td align='center' colspan='3'>@AfterClass</td>
</tr>
<tr>
<td>com.peterwkc.TestManager.ChromeTestManager</td>
<td>&nbsp;</td><td>&nbsp;</td></tr>
<tr>
<td align='center' colspan='3'>@Test</td>
</tr>
<tr>
<td>&nbsp;</td>
<td>GOOGLE4</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>GOOGLE3</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>GOOGLE2</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>GOOGLE1</td>
<td>&nbsp;</td></tr>
<tr>
<td align='center' colspan='3'>@BeforeClass</td>
</tr>
<tr>
<td align='center' colspan='3'>@BeforeMethod</td>
</tr>
<tr>
<td align='center' colspan='3'>@AfterMethod</td>
</tr>
<tr>
<td align='center' colspan='3'>@AfterClass</td>
</tr>
</table>
