<h2>Methods run, sorted chronologically</h2><h3>&gt;&gt; means before, &lt;&lt; means after</h3><p/><br/><em>Selenium Grid</em><p/><small><i>(Hover the method name to see the test class name)</i></small><p/>
<table border="1">
<tr><th>Time</th><th>Delta (ms)</th><th>Suite<br>configuration</th><th>Test<br>configuration</th><th>Class<br>configuration</th><th>Groups<br>configuration</th><th>Method<br>configuration</th><th>Test<br>method</th><th>Thread</th><th>Instances</th></tr>
<tr bgcolor="87ed94">  <td>18/05/31 19:13:28</td>   <td>0</td> <td>&nbsp;</td><td title="&gt;&gt;TestManager.setupTest(java.lang.String)[pri:0, instance:com.peterwkc.TestManager.ChromeTestManager@34cd072c]">&gt;&gt;setupTest</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>TestNG-tests-1@1715593771</td>   <td></td> </tr>
<tr bgcolor="94e299">  <td>18/05/31 19:13:28</td>   <td>6</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="FirefoxTestManager.YANDEX()[pri:0, instance:com.peterwkc.TestManager.FirefoxTestManager@36b4cef0]">YANDEX</td> 
  <td>TestNG-test=Firefox Test-2@446894632</td>   <td></td> </tr>
<tr bgcolor="94e299">  <td>18/05/31 19:13:28</td>   <td>5</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="FirefoxTestManager.GOOGLE1()[pri:0, instance:com.peterwkc.TestManager.FirefoxTestManager@36b4cef0]">GOOGLE1</td> 
  <td>TestNG-test=Firefox Test-1@1973901990</td>   <td></td> </tr>
<tr bgcolor="ac637b">  <td>18/05/31 19:13:30</td>   <td>1960</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="ChromeTestManager.GOOGLE3()[pri:0, instance:com.peterwkc.TestManager.ChromeTestManager@34cd072c]">GOOGLE3</td> 
  <td>TestNG-test=Chrome Test-2@504452833</td>   <td></td> </tr>
<tr bgcolor="ac637b">  <td>18/05/31 19:13:30</td>   <td>1960</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="ChromeTestManager.GOOGLE2()[pri:0, instance:com.peterwkc.TestManager.ChromeTestManager@34cd072c]">GOOGLE2</td> 
  <td>TestNG-test=Chrome Test-1@1030038271</td>   <td></td> </tr>
<tr bgcolor="ac637b">  <td>18/05/31 19:13:30</td>   <td>1972</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="ChromeTestManager.GOOGLE4()[pri:0, instance:com.peterwkc.TestManager.ChromeTestManager@34cd072c]">GOOGLE4</td> 
  <td>TestNG-test=Chrome Test-3@1977191302</td>   <td></td> </tr>
</table>
